/* ! ------------------------fonts-------------------- */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,regular,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lora:italic,500italic&display=swap");
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSansCyrl-500.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* ! -------------------reset-styles------------------ */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* ! ------------------------body-------------------- */
html,
body {
  min-width: 320px;
  font-weight: 400;
  font-style: normal;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

body.lock {
  overflow: hidden;
}

.screen {
  width: 100%;
  height: 100vh;
  min-height: 795px;
  background-color: #5e5e5e;
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.screen__container {
  margin-top: 10.2%;
  font-family: "Roboto", "Arial", sans-serif;
  color: #fff;
  text-align: center;
}
.screen__title {
  text-transform: uppercase;
  font-size: 74px;
  font-weight: 900;
}
.screen__subtitle {
  position: relative;
  top: -3px;
  font-weight: 500;
  font-size: 44px;
}
.screen__button {
  position: relative;
  top: 0;
  margin-top: 3.3%;
  padding: 26px 79px 26px 79px;
  transition: all 0.2s ease;
}
.screen__button:hover {
  top: -3px;
}
.screen__button:active {
  top: 0;
}

.button {
  display: inline-block;
  background: linear-gradient(to top, #148342, #21B25F);
  font-weight: 900;
  text-transform: uppercase;
  font-size: 18px;
}

.header {
  background: rgba(50, 50, 50, 0.25);
  color: #fff;
}
.header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1205px;
  padding: 19px 15px 0 15px;
  margin: 0 auto;
}
.header__burger {
  display: none;
}
.header__container {
  display: flex;
  align-items: flex-end;
}
.header__region {
  position: absolute;
  z-index: 1;
  top: 19px;
  left: 109px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
}
.header__region span {
  color: #4DD0E1;
}
.header__city {
  position: relative;
  margin-left: 2px;
  text-decoration: underline;
}
.header__city::after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  right: -11px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid #fff;
}
.header__logo {
  margin-left: 6px;
  width: 276px;
}
.header__logo img {
  width: 100%;
}
.header__search {
  margin-left: 25px;
  margin-bottom: 15px;
}
.header__phone {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 42px;
  padding-top: 7px;
  margin-bottom: 15px;
  flex-shrink: 0;
}
.header__phone::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  width: 36px;
  height: 36px;
  background-image: url("../svg/telephone.svg");
  background-repeat: no-repeat;
}
.header__tel-number {
  position: relative;
  top: 5px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 700;
  transition: all 0.3s ease;
}
.header__tel-number:hover {
  color: #19944D;
}
.header__call {
  text-decoration: underline;
  color: #31C570;
  font-family: "Lora", "Times New Roman", Times, serif;
  font-size: 23px;
  font-weight: 500;
  font-style: italic;
  transition: all 0.3s ease;
}
.header__call:hover {
  transform: scale(1.05);
}
.search-container__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.search-container__address {
  position: relative;
  padding-left: 23px;
  font-family: "Lora", "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
}
.search-container__address::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 22px;
  height: 22px;
  background-image: url("../svg/mark.svg");
  background-repeat: no-repeat;
}
.search-container__time {
  position: relative;
  padding-left: 31px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
}
.search-container__time span {
  font-weight: 500;
}
.search-container__time::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  display: block;
  width: 23px;
  height: 23px;
  background-image: url("../svg/clock.svg");
  background-repeat: no-repeat;
}
.search-container__e-mail {
  position: relative;
  padding-left: 27px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  transition: all 0.3s ease;
}
.search-container__e-mail:hover {
  color: #19944D;
}
.search-container__e-mail::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  display: block;
  width: 22px;
  height: 22px;
  background-image: url("../svg/mail.svg");
  background-repeat: no-repeat;
}
.search-container__search {
  position: relative;
}
.search-container__input {
  padding: 0 66px 5px 33px;
  height: 35px;
  width: 570px;
  border: 2px solid #C4C4C4;
  border-radius: 15px;
  font-family: "Lora", "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  color: #4F5662;
  background: #C4C4C4;
  transition: all 0.3s ease;
}
.search-container__input:focus {
  border: 2px solid #19944D;
  border-radius: 15px;
  outline: none;
}
.search-container__button {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 35px;
  padding: 0 23px;
  border-radius: 15px;
  background: #19944D;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: inherit;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}
.search-container__button:hover {
  transform: scale(1.1);
}

.menu {
  padding: 8px 0;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: rgba(25, 148, 77, 0.8);
}
.menu__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1205px;
  padding: 0 15px;
  margin: 0 auto;
}
.menu__list {
  display: flex;
  margin-left: 6px;
  font-size: 18px;
}
.menu__item {
  transition: all 0.1s ease;
}
.menu__item:hover {
  transform: scale(1.1);
}
.menu__item:nth-child(n+2) {
  margin-left: 45px;
}
.cart {
  display: flex;
  font-size: 14px;
}
.cart__icon {
  margin-right: 14px;
}
.cart__count span {
  color: #FFBC64;
}
.cart__summ span {
  color: #FFBC64;
}

.wrapper {
  max-width: 1205px;
  padding: 0 15px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
}
.navigation_indent {
  margin-left: 10px;
}
.navigation__bread-crumbs {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
}
.navigation__bread-crumbs a {
  color: #50ABF1;
}
.navigation__bread-crumbs a:hover {
  text-decoration: underline;
}
.social {
  display: flex;
}
.social__item:nth-child(n+2) {
  margin-left: 10px;
}
.social__link {
  display: block;
  width: 26px;
  height: 26px;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}
.social__link:hover {
  transform: scale(1.1);
}
.social__facebook {
  background-image: url("../svg/FACEBOOK.svg");
}
.social__vkontakte {
  background-image: url("../svg/vk.svg");
}
.social__osnoklassniki {
  background-image: url("../svg/odnoklassniki-logo.svg");
}
.social__google {
  background-image: url("../svg/google.svg");
}
.social__mail {
  background-image: url("../svg/mail-ru.svg");
}
.social__twitter {
  background-image: url("../svg/twitter.svg");
}
.social__favorites {
  background-image: url("../svg/star.svg");
}
.social__print {
  background-image: url("../svg/printer.svg");
}

.category-title {
  font-family: "Roboto", "Arial", sans-serif;
  color: #4F5662;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 36px;
}
.category-title_indent {
  margin-top: 15px;
  margin-bottom: 18px;
  margin-left: 10px;
}

.slider-wrapper {
  position: relative;
}
.slider-wrapper_width {
  max-width: 1175px;
  margin: 0 auto;
}

.slider {
  max-width: 1115px;
}

.category-slider {
  position: relative;
  display: flex;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
.category-slider_indent {
  margin-bottom: 48px;
}
.category-slider__next, .category-slider__prev {
  position: absolute;
  z-index: 9999;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 13px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.category-slider__next:focus, .category-slider__prev:focus {
  outline: none;
}
.category-slider__next {
  right: 0;
  background-image: url("../svg/arrow-right.svg");
}
.category-slider__prev {
  background-image: url("../svg/arrow-left.svg");
}
.category-slider__item {
  width: 170px;
  border-radius: 5px;
  background-color: #278A52;
  transition: all 0.3s ease;
}
.category-slider__link {
  display: block;
  padding: 10px 47px;
  text-align: center;
}

.main {
  display: flex;
}

.filter {
  width: 270px;
  flex-shrink: 0;
  margin-right: 31px;
}
.filter__container {
  background-color: #ECEFED;
}
.filter__container:nth-child(n+2) {
  margin-top: 24px;
  padding-bottom: 82px;
}
.filter__wrapper {
  padding: 19px 18px 33px 18px;
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #4F5662;
}
.filter__item {
  position: relative;
  padding-left: 46px;
}
.filter__item:nth-child(n+2) {
  margin-top: 35px;
}
.filter__sub-item {
  padding-left: 17px;
  color: #000000;
  font-weight: 400;
}
.filter__sub-item:nth-child(2) {
  margin-top: 20px;
}
.filter__sub-item:last-child {
  margin-bottom: 30px;
}
.filter__sub-item:nth-child(n+3) {
  margin-top: 15px;
}
.filter__capacity::before {
  background-image: url("../svg/measuring-jug.svg");
}
.filter__color::before {
  background-image: url("../svg/bucket.svg");
}
.filter__thickness {
  display: flex;
  flex-direction: column;
}
.filter__thickness::before {
  background-image: url("../svg/tolsina.svg");
}
.filter__material::before {
  background-image: url("../svg/plastic-bag.svg");
}
.filter__form::before {
  background-image: url("../svg/bag.svg");
}
.filter__target::before {
  background-image: url("../svg/plastic-bag-target.svg");
}
.filter__type::before {
  background-image: url("../svg/plastic-bag-type.svg");
}
.filter__capacity::before, .filter__color::before, .filter__thickness::before, .filter__material::before, .filter__form::before, .filter__target::before, .filter__type::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0;
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
  background-size: contain;
}
.filter__category {
  font-family: "Roboto", "Arial", sans-serif;
  color: #4F5662;
  font-size: 18px;
}
.filter__category:nth-child(n+2) {
  border-top: 1px solid #C4C4C4;
}
.filter__category:last-child {
  border-bottom: 1px solid #C4C4C4;
}
.filter__category a {
  position: relative;
  display: flex;
  align-items: center;
  height: 93px;
  padding: 0 50px 0 20px;
}
.filter__category a::after {
  content: "";
  display: block;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 10px;
  background-image: url("../svg/arrow-sidebar.svg");
  background-repeat: no-repeat;
}
.filter__range {
  position: relative;
  margin: 41px auto 0 auto;
  width: 85%;
  height: 3px;
  background-color: #148342;
}
.filter__range-left {
  position: absolute;
  top: -7px;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #C4C4C4;
  cursor: pointer;
}
.filter__range-right {
  position: absolute;
  top: -7px;
  right: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #C4C4C4;
  cursor: pointer;
}
.filter__value-range {
  display: flex;
  justify-content: space-between;
  padding: 0 22px;
  color: #000;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 25px;
}
.filter__button {
  position: relative;
  top: 0;
  color: #fff;
  font-size: 14px;
  padding: 18px 28px;
  transition: all 0.3s ease;
}
.filter__button:hover {
  top: -2px;
}
.filter__button:active {
  top: 0;
}
.filter__button:focus {
  outline: none;
}
.filter__button-reset {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 900;
  font-size: 14px;
  color: #4F5662;
  transition: all 0.3s ease;
}
.filter__button-reset:hover {
  color: rgba(255, 0, 0, 0.7);
}
.filter__button-reset:focus {
  outline: none;
}
.filter__button-box {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0 12px;
  margin-top: 25px;
}

.price {
  font-weight: 700;
  font-size: 24px;
}
.price__container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.price__input {
  display: block;
  width: 48.48%;
  height: 48px;
  flex-shrink: 0;
  text-align: center;
}
.price__input::-webkit-outer-spin-button, .price__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.price__range {
  display: block;
  margin: 10px auto;
}

.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}
.sort__type {
  margin-right: 50px;
}
.sort__type a {
  margin-right: 5px;
  color: #0088B3;
}
.sort__type a:hover {
  text-decoration: underline;
}
.sort__type a:last-child {
  margin: 0;
}
.sort__type span {
  font-weight: 900;
}
.sort__show {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sort__show input {
  width: 37px;
  height: 23px;
  border: 1px solid #D1D1D1;
  margin: 0 10px;
  font-weight: 900;
  text-align: center;
}
.sort__show input::-webkit-outer-spin-button, .sort__show input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.sort__show input:focus {
  outline: none;
}
.sort__show span {
  font-weight: 900;
}

.product {
  flex-grow: 1;
}
.product__filter {
  display: none;
}
.product__sort {
  margin-bottom: 8px;
}
.product__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product__card {
  width: 268px;
}
.product__pages {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 900;
  margin-top: 31px;
}
.product__page {
  background-color: #F1F1F1;
}
.product__page a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 39px;
}
.product__page:nth-child(n+2) {
  margin-left: 10px;
}
.product__page_active {
  background-color: #148342;
  color: #fff;
}
.product__page-interval {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.card {
  border: 1px solid #148342;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Roboto", "Arial", sans-serif;
}
.card:nth-child(n+4) {
  margin-top: 30px;
}
.card__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 13px 17px 13px;
  height: 100%;
}
.card__image {
  margin: 0 auto 8px auto;
  width: 100%;
}
.card__image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  object-fit: contain;
}
.card__title {
  text-align: center;
  color: #148342;
  font-weight: 500;
  font-size: 18px;
}
.card__description {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}
.card__footer {
  margin-top: 8px;
}
.card__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__container:nth-child(n+2) {
  margin-top: 12px;
}
.card__price-one {
  position: relative;
  font-size: 18px;
  font-weight: 500;
}
.card__price-one span {
  font-weight: 900;
}
.card__one {
  position: absolute;
  top: -15px;
  left: 3px;
  color: #148342;
  font-size: 12px;
}
.card__count {
  border: 1px solid #C9C2C2;
}
.card__minus {
  cursor: pointer;
  width: 15px;
  float: left;
  font-size: 13px;
  text-align: center;
  background-color: #C9C2C2;
  color: #fff;
  height: 25px;
  padding-top: 4px;
}
.card__total-count {
  width: 65px;
  font-size: 15px;
  text-align: center;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 100;
  color: #4F5662;
  padding-top: 3px;
}
.card__total-count:focus {
  outline: none;
}
.card__plus {
  cursor: pointer;
  width: 15px;
  float: right;
  text-align: center;
  background-color: #C9C2C2;
  color: #fff;
  font-size: 13px;
  height: 25px;
  padding-top: 4px;
}
.card__price-total {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  margin-right: 10px;
}
.card__price-total span {
  font-weight: 900;
}
.card__summ {
  position: absolute;
  top: -15px;
  left: 3px;
  color: #148342;
  font-size: 12px;
}
.card__button {
  position: relative;
  top: 0;
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  padding: 13px 29px;
  transition: all 0.3s ease;
}
.card__button:hover {
  top: -2px;
}
.card__button:active {
  top: 0;
}
.card__button:focus {
  outline: none;
}

.slider-block {
  margin-top: 111px;
  margin-bottom: 55px;
  padding: 52px 0 42px 0;
  background-image: url("../img/slider-bg.jpg");
  background-size: cover;
  background-position: center;
}

.description {
  margin: 0 auto 104px auto;
  max-width: 1205px;
  padding: 0 15px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 20px;
  line-height: 1.25;
  text-align: justify;
}

.footer {
  background-color: #4F5662;
  color: #fff;
}
.footer__wrapper {
  display: flex;
  max-width: 1205px;
  padding: 33px 15px 0 15px;
  margin: 0 auto;
  font-family: "Roboto", "Arial", sans-serif;
}
.footer__container {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.footer__menu {
  display: flex;
  width: 50%;
  font-weight: 700;
  font-size: 16px;
}
.footer__menu-list:nth-child(n+2) {
  margin-left: 26.74%;
}
.footer__menu-item:nth-child(n+2) {
  margin-top: 12px;
}
.footer__menu-link:hover {
  text-decoration: underline;
}
.footer__timetable {
  width: 240px;
  padding-left: 34px;
}
.footer__timetable p:nth-child(1) {
  position: relative;
}
.footer__timetable p:nth-child(1)::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -29px;
  width: 22px;
  height: 22px;
  background-image: url("../svg/clock.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.footer__tel {
  position: relative;
  font-weight: 700;
  font-size: 24px;
}
.footer__tel:hover {
  text-decoration: underline;
}
.footer__tel::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -40px;
  width: 34px;
  height: 34px;
  background-image: url("../svg/telephone.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.footer__time {
  margin-top: 29px;
}
.footer__address {
  width: 258px;
  font-size: 18px;
  font-style: normal;
}
.footer__address_mobile {
  display: none;
}
.footer__socials {
  width: 104px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}
.footer__socials_mobile {
  display: none;
}
.footer__socials-item:nth-child(3n+2) {
  margin-left: 14px;
}
.footer__socials-item:nth-child(3n+3) {
  margin-left: 14px;
}
.footer__socials-item:nth-child(n+4) {
  margin-top: 11px;
}
.footer__socials-link {
  display: block;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}
.footer__socials-link:hover {
  transform: scale(1.2);
}
.footer__viber {
  background-image: url("../svg/viber-footer.svg");
}
.footer__whatsapp {
  background-image: url("../svg/whatsapp-footer.svg");
}
.footer__instagram {
  background-image: url("../svg/instagram-footer.svg");
}
.footer__facebook {
  background-image: url("../svg/facebook-footer.svg");
}
.footer__vkontakte {
  background-image: url("../svg/vk-footer.svg");
}
.footer__odnoklassniki {
  background-image: url("../svg/odnoklassniki-footer.svg");
}
.footer__copyright-container {
  display: flex;
  align-items: flex-end;
  max-width: 1205px;
  padding: 0 15px 14px 15px;
  margin: 0 auto;
}
.footer__logo {
  margin-left: 8px;
}
.footer__copyright {
  font-family: "Museo Sans Cyrl", "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
  margin-left: 104px;
  padding-bottom: 28px;
  font-size: 16px;
}

.time__title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 8px;
}
.time__timetable {
  font-size: 13px;
}
.time__timetable span {
  font-weight: 700;
}
.time__timetable p:nth-child(n+2) {
  margin-top: 14px;
}

@media (max-width: 1195px) {
  .screen {
    max-height: 990px;
  }

  .header__container {
    width: 74%;
    justify-content: space-between;
  }
  .header__logo {
    margin-left: 0;
    width: 200px;
  }
  .header__search {
    margin-left: 0;
  }
  .header__region {
    left: 85px;
  }
  .header__tel-number {
    font-size: 20px;
  }
  .header__call {
    font-size: 18px;
  }

  .search-container__input {
    width: 450px;
  }
  .search-container__address {
    font-size: 14px;
  }
  .search-container__address::before {
    top: -2px;
  }
  .search-container__time {
    font-size: 12px;
  }
  .search-container__time::before {
    top: -5px;
  }
  .search-container__e-mail {
    font-size: 14px;
  }
  .search-container__e-mail::before {
    top: -4px;
  }

  .wrapper {
    max-width: 900px;
  }

  .slider {
    max-width: 810px;
  }

  .slider-wrapper_width {
    max-width: 850px;
  }

  .card:nth-child(n+3) {
    margin-top: 30px;
  }

  .footer__menu {
    width: 46%;
  }
  .footer__menu-list:nth-child(n+2) {
    margin-left: 12.5%;
  }
  .footer__container {
    width: 60%;
  }
}
@media (max-width: 920px) {
  .screen {
    min-height: 590px;
    max-height: 685px;
  }
  .screen__title {
    font-size: 45px;
  }
  .screen__subtitle {
    font-size: 30px;
  }

  .header__container {
    flex-direction: column;
    width: 100%;
  }
  .header__phone {
    position: absolute;
    top: 15px;
    right: 20px;
  }
  .header__region {
    top: 34px;
    left: 50%;
    transform: translateX(-50%);
  }
  .header__container {
    align-items: flex-start;
  }
  .header__logo {
    position: relative;
    top: -10px;
    width: 220px;
  }

  .search-container {
    width: 100%;
    max-width: 650px;
    align-self: center;
  }
  .search-container__input {
    width: 100%;
  }
  .search-container__address {
    font-size: 16px;
  }
  .search-container__address::before {
    top: -1px;
  }
  .search-container__time {
    font-size: 14px;
  }
  .search-container__time::before {
    top: -4px;
  }
  .search-container__e-mail {
    font-size: 16px;
  }
  .search-container__e-mail::before {
    top: -2px;
  }

  .menu__item:nth-child(n+2) {
    margin-left: 20px;
  }

  .wrapper {
    max-width: 600px;
  }

  .slider {
    max-width: 90%;
  }

  .slider-wrapper_width {
    max-width: 90%;
  }

  .category-slider__link {
    padding: 10px;
    text-align: center;
  }

  .filter {
    display: none;
  }

  .product__filter {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
  }
  .product__filter-text {
    font-family: "Roboto", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
  }
  .product__filter-icon {
    margin-left: 10px;
  }

  .footer__wrapper {
    flex-direction: column;
  }
  .footer__menu {
    justify-content: space-between;
    width: 100%;
    max-width: 536px;
    margin: 0 auto;
  }
  .footer__container {
    width: 100%;
    max-width: 610px;
    margin: 30px auto 0 auto;
  }
  .footer__copyright {
    margin-left: 10px;
  }
}
@media (max-width: 610px) {
  .screen {
    min-height: 806px;
  }
  .screen__container {
    margin-top: 160px;
    padding: 0 10px;
  }
  .screen__title {
    font-size: 42px;
  }
  .screen__subtitle {
    margin-top: 20px;
    font-size: 18px;
  }
  .screen__button {
    margin-top: 30px;
  }

  .header {
    cursor: pointer;
  }
  .header__burger {
    display: block;
    z-index: 300;
    width: 30px;
    height: 23px;
  }
  .header__burger:focus {
    outline: none;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 16px;
    width: 36px;
    height: 3px;
    top: 16px;
    transition: all 0.5s ease 0s;
  }
  .header__burger::after, .header__burger::before {
    content: "";
    position: absolute;
    height: 3px;
    left: 16px;
    background-color: #fff;
    transition: all 0.5s ease 0s;
  }
  .header__burger::after {
    top: 26px;
    width: 36px;
  }
  .header__burger::before {
    top: 6px;
    width: 50px;
  }
  .header__burger-menu {
    position: fixed;
    display: block;
    z-index: 199;
    right: 0;
    top: 0;
    transform: translateX(110%);
    padding: 100px 15px 15px 35px;
    height: 100vh;
    width: 100vw;
    background-color: #86adef;
    overflow: auto;
    transition: all 0.7s ease;
  }
  .header__burger-menu.active {
    transform: translateX(0);
  }
  .header__burger-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-family: "Gilroy Medium";
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-align: left;
  }
  .header__burger-item:nth-child(n+2) {
    margin-top: 20px;
  }
  .header__burger-link {
    color: inherit;
    text-decoration: none;
  }
  .header__search {
    display: flex;
    flex-direction: column;
  }
  .header__region {
    top: 13px;
    left: auto;
    right: 30px;
    transform: none;
  }
  .header__phone {
    padding: 0 0 0 30px;
    top: 152px;
    right: 15px;
    align-items: flex-end;
  }
  .header__phone::before {
    width: 24px;
    height: 24px;
    background-size: contain;
  }
  .header__tel-number {
    font-size: 17px;
  }
  .header__call {
    font-size: 16px;
  }
  .header__logo {
    top: 0;
    width: 167px;
  }
  .header__wrapper {
    padding-top: 10px;
  }

  .menu__list {
    display: none;
  }

  .search-container__info {
    flex-direction: column;
    justify-content: flex-start;
    order: 2;
    margin: 12px 0 0 0;
  }
  .search-container__time {
    margin-top: 22px;
  }
  .search-container__time span {
    display: none;
  }
  .search-container__e-mail {
    margin-top: 22px;
  }
  .search-container__input {
    height: 20px;
    font-size: 12px;
    padding-bottom: 2px;
  }
  .search-container__button {
    top: 1px;
    height: 20px;
    font-size: 12px;
    padding: 0 10px;
  }

  .navigation {
    flex-direction: column;
  }
  .navigation_indent {
    margin-left: 0;
  }
  .navigation__bread-crumbs {
    order: 2;
    margin-top: 37px;
    align-self: flex-start;
  }

  .category-title {
    font-size: 30px;
  }
  .category-title_indent {
    margin-left: 0;
  }

  .category-slider_indent {
    margin-bottom: 19px;
  }

  .product__filter {
    margin-bottom: 13px;
  }
  .product__filter-text {
    font-size: 14px;
  }
  .product__filter-icon {
    width: 31px;
    height: 32px;
  }
  .product__filter-icon img {
    width: 31px;
    height: 32px;
  }
  .product__sort {
    margin-bottom: 17px;
  }
  .product__cards {
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
  }

  .sort {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .sort__type {
    display: flex;
    margin-bottom: 15px;
  }
  .sort__type span {
    flex-shrink: 0;
    margin-right: 5px;
  }
  .sort__type a:nth-child(2) {
    position: relative;
  }
  .sort__type a:nth-child(2)::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    right: -13px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 7px solid #0088B3;
  }
  .sort__type a:nth-child(n+3) {
    display: none;
  }

  .card:nth-child(n+2) {
    margin-top: 30px;
  }

  .description {
    font-size: 14px;
    margin-bottom: 56px;
  }

  .slider-block {
    margin-top: 58px;
    margin-bottom: 84px;
    background-image: url("../img/slider-bg_mobile.jpg");
  }

  .footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 69px;
  }
  .footer__wrapper {
    width: 280px;
    order: 1;
    padding: 0;
  }
  .footer__copyright-container {
    padding-bottom: 0;
  }
  .footer__copyright {
    display: none;
  }
  .footer__menu {
    justify-content: flex-start;
    margin-top: 62px;
    order: 1;
  }
  .footer__menu-list {
    flex-shrink: 0;
  }
  .footer__container {
    flex-direction: column;
    margin-top: 0;
  }
  .footer__timetable {
    padding-left: 40px;
  }
  .footer__timetable p:nth-child(1)::before {
    top: -28px;
  }
  .footer__tel {
    padding-left: 5px;
  }
  .footer__tel::before {
    left: -34px;
  }
  .footer__logo {
    margin-left: 0;
  }
  .footer__address-container {
    display: none;
  }
  .footer__address {
    position: relative;
    left: -33px;
    margin-bottom: 16px;
  }
  .footer__address_mobile {
    display: block;
  }
  .footer__menu-item:nth-child(n+2) {
    margin-top: 8px;
  }
  .footer__menu-link {
    font-size: 12px;
  }
  .footer__socials {
    margin-top: 29px;
    width: 100%;
    order: 3;
  }
  .footer__socials_mobile {
    display: flex;
    justify-content: center;
  }
  .footer__socials-item:nth-child(n+4) {
    margin-top: 0;
  }
  .footer__socials-item:nth-child(n+2) {
    margin-left: 18px;
  }
  .footer__socials-link {
    width: 32px;
    height: 32px;
  }
}