/* ! ------------------------fonts-------------------- */

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl-500.woff2') format('woff2'), url('../fonts/MuseoSansCyrl-500.woff') format('woff'), url('../fonts/MuseoSansCyrl-500.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,regular,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora:italic,500italic&display=swap');

/* ! -------------------reset-styles------------------ */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}


/* ! ------------------------body-------------------- */

html,
body {
    min-width: 320px;
    font-weight: 400;
    font-style: normal;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

body._lock {
    overflow: hidden;
}

// ?===========================!!! for all devices !!!================================
.screen {
    width: 100%;
    height: 100vh;
    min-height: 795px;
    background-color: rgb(94, 94, 94);
    background-image: url('../img/header-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    &__container {
        margin-top: 10.2%;
        font-family: 'Roboto', 'Arial', sans-serif;
        color: #fff;
        text-align: center;
    }
    &__title {
        text-transform: uppercase;
        font-size: 74px;
        font-weight: 900;
    }
    &__subtitle {
        position: relative;
        top: -3px;
        font-weight: 500;
        font-size: 44px;
    }
    &__button {
        position: relative;
        top: 0;
        margin-top: 3.3%;
        padding: 26px 79px 26px 79px;
        transition: all .2s ease;
        &:hover {
            top: -3px;
        }
        &:active {
            top: 0;
        }
    }
}

.button {
    display: inline-block;
    background: linear-gradient(to top, #148342, #21B25F);
    font-weight: 900;
    text-transform: uppercase;
    font-size: 18px;
}

.header {
    background: rgba($color: #323232, $alpha: 0.25);
    color: #fff;
    &__wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        max-width: 1205px;
        padding: 19px 15px 0 15px;
        margin: 0 auto;
    }
    &__burger {
        display: none;
    }
    &__container {
        display: flex;
        align-items: flex-end;
    }
    &__region {
        position: absolute;
        z-index: 1;
        top: 19px;
        left: 109px;
        font-family: 'Roboto', 'Arial', sans-serif;
        font-size: 14px;
        & span {
            color: #4DD0E1;
        }
    }
    &__city {
        position: relative;
        margin-left: 2px;
        text-decoration: underline;
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 5px;
            right: -11px;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 7px solid #fff;
        }
    }
    &__logo {
        margin-left: 6px;
        width: 276px;
        & img {
            width: 100%;
        }
    }
    &__search {
        margin-left: 25px;
        margin-bottom: 15px;
    }
    &__phone {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-left: 42px;
        padding-top: 7px;
        margin-bottom: 15px;
        flex-shrink: 0;
        &::before {
            content: '';
            position: absolute;
            top: 5px;
            left: 0;
            display: block;
            width: 36px;
            height: 36px;
            background-image: url('../svg/telephone.svg');
            background-repeat: no-repeat;
        }
    }
    &__tel-number {
        position: relative;
        top: 5px;
        font-family: 'Roboto', 'Arial', sans-serif;
        font-size: 24px;
        font-weight: 700;
        transition: all .3s ease;
        &:hover {
            color: #19944D;
        }
    }
    &__call {
        text-decoration: underline;
        color: #31C570;
        font-family: 'Lora', 'Times New Roman', Times, serif;
        font-size: 23px;
        font-weight: 500;
        font-style: italic;
        transition: all .3s ease;
        &:hover {
            transform: scale(1.05);
        }
    }
    &__menu {}
}

.search-container {
    &__info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    &__address {
        position: relative;
        padding-left: 23px;
        font-family: 'Lora', 'Times New Roman', Times, serif;
        font-size: 16px;
        font-weight: 500;
        font-style: italic;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 22px;
            height: 22px;
            background-image: url('../svg/mark.svg');
            background-repeat: no-repeat;
        }
    }
    &__time {
        position: relative;
        padding-left: 31px;
        font-family: 'Roboto', 'Arial', sans-serif;
        font-size: 14px;
        & span {
            font-weight: 500;
        }
        &::before {
            content: '';
            position: absolute;
            top: -3px;
            left: 0;
            display: block;
            width: 23px;
            height: 23px;
            background-image: url('../svg/clock.svg');
            background-repeat: no-repeat;
        }
    }
    &__e-mail {
        position: relative;
        padding-left: 27px;
        font-family: 'Roboto', 'Arial', sans-serif;
        font-size: 16px;
        transition: all .3s ease;
        &:hover {
            color: #19944D;
        }
        &::before {
            content: '';
            position: absolute;
            top: -2px;
            left: 0;
            display: block;
            width: 22px;
            height: 22px;
            background-image: url('../svg/mail.svg');
            background-repeat: no-repeat;
        }
    }
    &__icon {}
    &__search {
        position: relative;
    }
    &__input {
        padding: 0 66px 5px 33px;
        height: 35px;
        width: 570px;
        border: 2px solid #C4C4C4;
        border-radius: 15px;
        font-family: 'Lora', 'Times New Roman', Times, serif;
        font-size: 18px;
        font-weight: 500;
        font-style: italic;
        color: #4F5662;
        background: #C4C4C4;
        transition: all .3s ease;
        &:focus {
            border: 2px solid #19944D;
            border-radius: 15px;
            outline: none;
        }
    }
    &__button {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        height: 35px;
        padding: 0 23px;
        border-radius: 15px;
        background: #19944D;
        font-family: 'Roboto', 'Arial', sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: inherit;
        box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
        transition: all .3s ease;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.menu {
    padding: 8px 0;
    font-family: 'Roboto', 'Arial', sans-serif;
    background-color: rgba(25, 148, 77, 0.8);
    &__wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1205px;
        padding: 0 15px;
        margin: 0 auto;
    }
    &__container {
        display: flex;
        align-items: center;
    }
    &__list {
        display: flex;
        margin-left: 6px;
        font-size: 18px;
    }
    &__item {
        transition: all .1s ease;
        &:hover {
            transform: scale(1.1);
        }
        &:nth-child(n+2) {
            margin-left: 45px;
        }
    }
    &__link {}
    &__cart {}
}

.cart {
    display: flex;
    font-size: 14px;
    &__icon {
        margin-right: 14px;
    }
    &__img {}
    &__container {}
    &__count {
        & span {
            color: #FFBC64;
        }
    }
    &__summ {
        & span {
            color: #FFBC64;
        }
    }
}

.wrapper {
    max-width: 1205px;
    padding: 0 15px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 17px;
    &_indent {
        margin-left: 10px;
    }
    &__bread-crumbs {
        text-transform: uppercase;
        font-size: 14px;
        font-family: 'Roboto', 'Arial', sans-serif;
        font-weight: 500;
        & a {
            color: #50ABF1;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__social {}
}

.social {
    display: flex;
    &__item {
        &:nth-child(n+2) {
            margin-left: 10px;
        }
    }
    &__link {
        display: block;
        width: 26px;
        height: 26px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transition: all .3s ease;
        &:hover {
            transform: scale(1.1);
        }
    }
    &__facebook {
        background-image: url('../svg/FACEBOOK.svg');
    }
    &__vkontakte {
        background-image: url('../svg/vk.svg');
    }
    &__osnoklassniki {
        background-image: url('../svg/odnoklassniki-logo.svg');
    }
    &__google {
        background-image: url('../svg/google.svg');
    }
    &__mail {
        background-image: url('../svg/mail-ru.svg');
    }
    &__twitter {
        background-image: url('../svg/twitter.svg');
    }
    &__favorites {
        background-image: url('../img/favorites.jpg');
        width: 28px;
        height: 28px;
    }
    &__print {
        background-image: url('../svg/printer.svg');
        width: 29px;
        height: 29px;
    }
}

.category-title {
    font-family: 'Roboto', 'Arial', sans-serif;
    color: #4F5662;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 36px;
    &_indent {
        margin-top: 15px;
        margin-bottom: 18px;
        margin-left: 10px;
    }
}

.slider-wrapper {
    position: relative;
    &_width {
        max-width: 1175px;
        margin: 0 auto;
    }
}

.slider {
    max-width: 1115px;
}

.category-slider {
    position: relative;
    display: flex;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    &_indent {
        margin-bottom: 48px;
    }
    &__next,
    &__prev {
        position: absolute;
        z-index: 9999;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 13px;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
    &__next {
        right: 0;
        background-image: url('../svg/arrow-right.svg');
    }
    &__prev {
        background-image: url('../svg/arrow-left.svg');
    }
    &__item {
        width: 170px;
        border-radius: 5px;
        background-color: #278A52;
        transition: all .3s ease;
    }
    &__link {
        display: block;
        padding: 10px 47px;
        text-align: center;
    }
}

.main {
    position: relative;
    display: flex;
}

.filter {
    width: 270px;
    height: 100%;
    flex-shrink: 0;
    margin-right: 31px;
    overflow: auto;
    &__container {
        background-color: #ECEFED;
        &:nth-child(n+2) {
            margin-top: 24px;
            padding-bottom: 82px;
        }
    }
    &__wrapper {
        padding: 19px 18px 33px 18px;
        text-transform: uppercase;
        font-family: 'Roboto', 'Arial', sans-serif;
        font-size: 24px;
        font-weight: 700;
        color: #4F5662;
    }
    &__list {}
    &__item {
        position: relative;
        padding-left: 46px;
        &:nth-child(n+2) {
            margin-top: 35px;
        }
        &._active {
            & .filter__sub-list {
                display: flex;
            }
        }
    }
    &__sub-list {
        display: none;
        flex-direction: column;
    }
    &__sub-item {
        padding-left: 17px;
        color: #000000;
        font-weight: 400;
        &:first-child {
            margin-top: 20px;
        }
        &:last-child {
            margin-bottom: 30px;
        }
        &:nth-child(n+2) {
            margin-top: 15px;
        }
    }
    &__capacity {
        &::before {
            background-image: url('../svg/measuring-jug.svg');
        }
    }
    &__color {
        &::before {
            background-image: url('../svg/bucket.svg');
        }
    }
    &__thickness {
        display: flex;
        flex-direction: column;
        &::before {
            background-image: url('../svg/tolsina.svg');
        }
    }
    &__material {
        &::before {
            background-image: url('../svg/plastic-bag.svg');
        }
    }
    &__form {
        &::before {
            background-image: url('../svg/bag.svg');
        }
    }
    &__target {
        &::before {
            background-image: url('../svg/plastic-bag-target.svg');
        }
    }
    &__type {
        &::before {
            background-image: url('../svg/plastic-bag-type.svg');
        }
    }
    &__capacity::before,
    &__color::before,
    &__thickness::before,
    &__material::before,
    &__form::before,
    &__target::before,
    &__type::before {
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        left: 0;
        width: 34px;
        height: 34px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &__categories {}
    &__category {
        font-family: 'Roboto', 'Arial', sans-serif;
        color: #4F5662;
        font-size: 18px;
        &:nth-child(n+2) {
            border-top: 1px solid #C4C4C4;
        }
        &:last-child {
            border-bottom: 1px solid #C4C4C4;
        }
        & a {
            position: relative;
            display: flex;
            align-items: center;
            height: 93px;
            padding: 0 50px 0 20px;
            &::after {
                content: '';
                display: block;
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                width: 16px;
                height: 10px;
                background-image: url('../svg/arrow-sidebar.svg');
                background-repeat: no-repeat;
            }
        }
        &._active {
            & .price__content {
                display: block;
            }
            & a {
                &::after {
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }
    }
    &__range {
        position: relative;
        margin: 41px auto 0 auto;
        width: 85%;
        height: 3px;
        background-color: #148342;
    }
    &__range-left {
        position: absolute;
        top: -7px;
        left: 0;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #C4C4C4;
        cursor: pointer;
    }
    &__range-right {
        position: absolute;
        top: -7px;
        right: 0;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #C4C4C4;
        cursor: pointer;
    }
    &__value-range {
        display: flex;
        justify-content: space-between;
        padding: 0 22px;
        color: #000;
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 25px;
    }
    &__value-range-left {}
    &__value-range-right {}
    &__button {
        position: relative;
        top: 0;
        color: #fff;
        font-size: 14px;
        padding: 18px 28px;
        transition: all .3s ease;
        &:hover {
            top: -2px;
        }
        &:active {
            top: 0;
        }
        &:focus {
            outline: none;
        }
    }
    &__button-reset {
        text-transform: uppercase;
        font-family: 'Roboto', 'Arial', sans-serif;
        font-weight: 900;
        font-size: 14px;
        color: #4F5662;
        transition: all .3s ease;
        &:hover {
            color: rgba(255, 0, 0, 0.7);
        }
        &:focus {
            outline: none;
        }
    }
    &__button-box {
        display: flex;
        justify-content: space-between;
        padding: 0 15px 0 12px;
        margin-top: 25px;
    }
}

.price {
    font-weight: 700;
    font-size: 24px;
    &__content {
        display: none;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
    &__input {
        display: block;
        width: 48.48%;
        height: 48px;
        flex-shrink: 0;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        text-align: center;
    }
    &__range {
        display: block;
        margin: 10px auto;
    }
}

.sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', 'Arial', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    &__type {
        margin-right: 50px;
        & a {
            margin-right: 5px;
            color: #0088B3;
            &:hover {
                text-decoration: underline;
            }
            &:last-child {
                margin: 0;
            }
        }
        & span {
            font-weight: 900;
        }
    }
    &__show {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        & input {
            width: 37px;
            height: 23px;
            border: 1px solid #D1D1D1;
            margin: 0 10px;
            font-weight: 900;
            text-align: center;
            &:focus {
                outline: none;
            }
        }
        & span {
            font-weight: 900;
        }
    }
}

.product {
    flex-grow: 1;
    &__filter {
        display: none;
    }
    &__sort {
        margin-bottom: 8px;
    }
    &__cards {
        display: flex;
        flex-wrap: wrap;
    }
    &__card {
        width: 268px;
    }
    &__pages {
        display: flex;
        justify-content: flex-end;
        font-size: 12px;
        font-family: 'Roboto', 'Arial', sans-serif;
        font-weight: 900;
        margin-top: 31px;
    }
    &__page {
        background-color: #F1F1F1;
        & a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 28px;
            height: 39px;
        }
        &:nth-child(n+2) {
            margin-left: 10px;
        }
        &_active {
            background-color: #148342;
            color: #fff;
        }
    }
    &__page-interval {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }
}

.card {
    border: 1px solid #148342;
    box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
    font-family: 'Roboto', 'Arial', sans-serif;
    &:nth-child(3n+2) {
        margin-left: 33px;
        margin-right: 33px;
    }
    &:nth-child(n+4) {
        margin-top: 30px;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 13px 17px 13px;
        height: 100%;
    }
    &__image {
        margin: 0 auto 8px auto;
        width: 100%;
        & img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            -o-object-fit: contain;
            object-fit: contain;
        }
    }
    &__body {}
    &__title {
        text-align: center;
        color: #148342;
        font-weight: 500;
        font-size: 18px;
        &:hover {
            text-decoration: underline;
        }
    }
    &__description {
        margin-top: 10px;
        text-align: center;
        font-size: 14px;
    }
    &__footer {
        margin-top: 8px;
    }
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:nth-child(n+2) {
            margin-top: 12px;
        }
    }
    &__price-one {
        position: relative;
        font-size: 18px;
        font-weight: 500;
        & span {
            font-weight: 900;
        }
    }
    &__one {
        position: absolute;
        top: -15px;
        left: 3px;
        color: #148342;
        font-size: 12px;
    }
    &__count {
        border: 1px solid #C9C2C2;
    }
    &__minus {
        cursor: pointer;
        width: 15px;
        float: left;
        font-size: 13px;
        text-align: center;
        background-color: #C9C2C2;
        color: #fff;
        height: 25px;
        padding-top: 4px;
    }
    &__total-count {
        width: 65px;
        font-size: 15px;
        text-align: center;
        font-family: 'Roboto', 'Arial', sans-serif;
        font-weight: 100;
        color: #4F5662;
        padding-top: 3px;
        &:focus {
            outline: none;
        }
    }
    &__plus {
        cursor: pointer;
        width: 15px;
        float: right;
        text-align: center;
        background-color: #C9C2C2;
        color: #fff;
        font-size: 13px;
        height: 25px;
        padding-top: 4px;
    }
    &__price-total {
        position: relative;
        font-weight: 500;
        font-size: 18px;
        margin-right: 10px;
        & span {
            font-weight: 900;
        }
    }
    &__summ {
        position: absolute;
        top: -15px;
        left: 3px;
        color: #148342;
        font-size: 12px;
    }
    &__button {
        position: relative;
        top: 0;
        font-size: 12px;
        color: #fff;
        font-weight: 700;
        padding: 13px 29px;
        transition: all .3s ease;
        &:hover {
            top: -2px;
        }
        &:active {
            top: 0;
        }
        &:focus {
            outline: none;
        }
    }
}

.slider-block {
    margin-top: 111px;
    margin-bottom: 55px;
    padding: 52px 0 42px 0;
    background-image: url('../img/slider-bg.jpg');
    background-size: cover;
    background-position: center;
}

.description {
    margin: 0 auto 104px auto;
    max-width: 1205px;
    padding: 0 15px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 20px;
    line-height: 1.25;
    text-align: justify;
}

.footer {
    background-color: #4F5662;
    color: #fff;
    &__wrapper {
        display: flex;
        max-width: 1205px;
        padding: 33px 15px 0 15px;
        margin: 0 auto;
        font-family: 'Roboto', 'Arial', sans-serif;
    }
    &__container {
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
    &__menu {
        display: flex;
        width: 50%;
        font-weight: 700;
        font-size: 16px;
    }
    &__menu-list {
        &:nth-child(n+2) {
            margin-left: 26.74%;
        }
    }
    &__menu-item {
        &:nth-child(n+2) {
            margin-top: 12px;
        }
    }
    &__menu-link {
        &:hover {
            text-decoration: underline;
        }
    }
    &__timetable {
        width: 240px;
        padding-left: 34px;
        & p:nth-child(1) {
            position: relative;
        }
        & p:nth-child(1)::before {
            content: '';
            position: absolute;
            top: -4px;
            left: -29px;
            width: 22px;
            height: 22px;
            background-image: url('../svg/clock.svg');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    &__tel {
        position: relative;
        font-weight: 700;
        font-size: 24px;
        &:hover {
            text-decoration: underline;
        }
        &::before {
            content: '';
            position: absolute;
            top: -2px;
            left: -40px;
            width: 34px;
            height: 34px;
            background-image: url('../svg/telephone.svg');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    &__time {
        margin-top: 29px;
    }
    &__address-container {}
    &__address {
        width: 258px;
        font-size: 18px;
        font-style: normal;
        &_mobile {
            display: none;
        }
    }
    &__socials {
        width: 104px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;
        &_mobile {
            display: none;
        }
    }
    &__socials-item {
        &:nth-child(3n+2) {
            margin-left: 14px;
        }
        &:nth-child(3n+3) {
            margin-left: 14px;
        }
        &:nth-child(n+4) {
            margin-top: 11px;
        }
    }
    &__socials-link {
        display: block;
        width: 25px;
        height: 25px;
        background-size: contain;
        background-repeat: no-repeat;
        transition: all .3s ease;
        &:hover {
            transform: scale(1.2);
        }
    }
    &__viber {
        background-image: url('../svg/viber-footer.svg');
    }
    &__whatsapp {
        background-image: url('../svg/whatsapp-footer.svg');
    }
    &__instagram {
        background-image: url('../svg/instagram-footer.svg');
    }
    &__facebook {
        background-image: url('../svg/facebook-footer.svg');
    }
    &__vkontakte {
        background-image: url('../svg/vk-footer.svg');
    }
    &__odnoklassniki {
        background-image: url('../svg/odnoklassniki-footer.svg');
    }
    &__copyright-container {
        display: flex;
        align-items: flex-end;
        max-width: 1205px;
        padding: 0 15px 14px 15px;
        margin: 0 auto;
    }
    &__logo {
        margin-left: 8px;
    }
    &__copyright {
        font-family: 'Museo Sans Cyrl', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
        margin-left: 104px;
        padding-bottom: 28px;
        font-size: 16px;
    }
}

.time {
    &__title {
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 8px;
    }
    &__timetable {
        font-size: 13px;
        & span {
            font-weight: 700;
        }
        & p:nth-child(n+2) {
            margin-top: 14px;
        }
    }
}

@media (max-width: 1217px) {
    .screen {
        max-height: 990px;
    }
    .header {
        &__container {
            width: 74%;
            justify-content: space-between;
        }
        &__logo {
            margin-left: 0;
            width: 200px;
        }
        &__search {
            margin-left: 0;
        }
        &__region {
            left: 85px;
        }
        &__tel-number {
            font-size: 20px;
        }
        &__call {
            font-size: 18px;
        }
    }
    .search-container {
        &__input {
            width: 450px;
        }
        &__address {
            font-size: 14px;
            &::before {
                top: -2px;
            }
        }
        &__time {
            font-size: 12px;
            &::before {
                top: -5px;
            }
        }
        &__e-mail {
            font-size: 14px;
            &::before {
                top: -4px;
            }
        }
    }
    .card {
        &:nth-child(3n+2) {
            margin-left: 0;
            margin-right: 0;
        }
        &:nth-child(2n+2) {
            margin-left: 33px;
        }
        &:nth-child(n+3) {
            margin-top: 30px;
        }
    }
    .wrapper {
        max-width: 900px;
    }
    .slider {
        max-width: 810px;
    }
    .slider-wrapper {
        &_width {
            max-width: 850px;
        }
    }
    .footer {
        &__menu {
            width: 46%;
        }
        &__menu-list {
            &:nth-child(n+2) {
                margin-left: 12.5%;
            }
        }
        &__container {
            width: 60%;
        }
    }
}

@media (max-width: 920px) {
    .screen {
        min-height: 590px;
        max-height: 685px;
        &__title {
            font-size: 45px;
        }
        &__subtitle {
            font-size: 30px;
        }
    }
    .header {
        &__container {
            flex-direction: column;
            width: 100%;
        }
        &__phone {
            position: absolute;
            top: 15px;
            right: 20px;
        }
        &__region {
            top: 34px;
            left: 50%;
            transform: translateX(-50%);
        }
        &__container {
            align-items: flex-start;
        }
        &__logo {
            position: relative;
            top: -10px;
            width: 220px;
        }
    }
    .search-container {
        width: 100%;
        max-width: 650px;
        align-self: center;
        &__input {
            width: 100%;
        }
        &__address {
            font-size: 16px;
            &::before {
                top: -1px;
            }
        }
        &__time {
            font-size: 14px;
            &::before {
                top: -4px;
            }
        }
        &__e-mail {
            font-size: 16px;
            &::before {
                top: -2px;
            }
        }
    }
    .menu {
        &__item {
            &:nth-child(n+2) {
                margin-left: 20px;
            }
        }
    }
    .wrapper {
        max-width: 600px;
    }
    .slider {
        max-width: 90%;
    }
    .slider-wrapper {
        &_width {
            max-width: 90%;
        }
    }
    .category-slider {
        &__link {
            padding: 10px;
            text-align: center;
        }
    }
    .filter {
        position: fixed;
        z-index: 999999;
        height: 100%;
        top: 0;
        left: -100%;
        transition: all .5s ease;
        width: 302px;
        &._active {
            left: 0;
        }
        &__mask {
            position: fixed;
            display: none;
            z-index: 100;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            &._active {
                display: block;
            }
        }
        &__container {
            &:nth-child(2) {
                margin-top: 0;
            }
        }
    }
    .product {
        &__filter {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            cursor: pointer;
        }
        &__filter-text {
            font-family: 'Roboto', 'Arial', sans-serif;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 900;
        }
        &__filter-icon {
            margin-left: 10px;
        }
    }
    .footer {
        &__wrapper {
            flex-direction: column;
        }
        &__menu {
            justify-content: space-between;
            width: 100%;
            max-width: 536px;
            margin: 0 auto;
        }
        &__container {
            width: 100%;
            max-width: 610px;
            margin: 30px auto 0 auto;
        }
        &__copyright {
            margin-left: 10px;
        }
    }
}

@media (max-width: 615px) {
    .screen {
        min-height: 806px;
        &__container {
            margin-top: 160px;
            padding: 0 10px;
        }
        &__title {
            font-size: 42px;
        }
        &__subtitle {
            margin-top: 20px;
            font-size: 18px;
        }
        &__button {
            margin-top: 30px;
        }
    }
    .header {
        cursor: pointer;
        &__burger {
            display: block;
            z-index: 300;
            width: 50px;
            height: 26px;
            &:focus {
                outline: none;
            }
            span {
                position: absolute;
                background-color: #fff;
                left: 16px;
                width: 36px;
                height: 3px;
                top: 16px;
                transition: all 0.5s ease 0s;
            }
            &::after,
            &::before {
                content: "";
                position: absolute;
                height: 3px;
                left: 16px;
                background-color: #fff;
                transition: all 0.5s ease 0s;
            }
            &::after {
                top: 26px;
                width: 36px;
            }
            &::before {
                top: 6px;
                width: 50px;
            }
        }
        &__burger-menu {
            position: fixed;
            display: block;
            z-index: 199;
            right: 0;
            top: 0;
            transform: translateX(110%);
            padding: 100px 15px 15px 35px;
            height: 100vh;
            width: 100vw;
            background-color: #86adef;
            overflow: auto;
            transition: all .7s ease;
            &.active {
                transform: translateX(0);
            }
        }
        &__burger-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-transform: uppercase;
            font-family: "Gilroy Medium";
            font-weight: 400;
            font-style: normal;
            font-size: 24px;
            text-align: left;
        }
        &__burger-item {
            &:nth-child(n+2) {
                margin-top: 20px;
            }
        }
        &__burger-link {
            color: inherit;
            text-decoration: none;
        }
        &__search {
            display: flex;
            flex-direction: column;
        }
        &__region {
            top: 13px;
            left: auto;
            right: 30px;
            transform: none;
        }
        &__phone {
            padding: 0 0 0 30px;
            top: 152px;
            right: 15px;
            align-items: flex-end;
            &::before {
                width: 24px;
                height: 24px;
                background-size: contain;
            }
        }
        &__tel-number {
            font-size: 17px;
        }
        &__call {
            font-size: 16px;
        }
        &__logo {
            top: 0;
            width: 167px;
        }
        &__wrapper {
            padding-top: 10px;
        }
    }
    .menu {
        &__container {
            position: relative;
            top: -5px;
            &._active {
                & .menu__list {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        &__list {
            position: absolute;
            top: 42px;
            left: 7px;
            width: 158px;
            opacity: 0;
            visibility: hidden;
            flex-direction: column;
            background-color: rgba($color: #C4C4C4, $alpha: 0.8);
            color: #4F5662;
            padding: 12px 13px 12px 9px;
            font-size: 24px;
        }
        &__item {
            &:nth-child(n+2) {
                margin-left: 0;
                margin-top: 8px;
            }
            &:hover {
                transform: none;
                color: #148342;
                text-decoration: underline;
                font-weight: 700;
            }
        }
    }
    .search-container {
        &__info {
            flex-direction: column;
            justify-content: flex-start;
            order: 2;
            margin: 12px 0 0 0;
        }
        &__time {
            margin-top: 22px;
            & span {
                display: none;
            }
        }
        &__e-mail {
            margin-top: 22px;
        }
        &__input {
            height: 20px;
            font-size: 12px;
            padding-bottom: 2px;
        }
        &__button {
            top: 1px;
            height: 20px;
            font-size: 12px;
            padding: 0 10px;
        }
    }
    .navigation {
        flex-direction: column;
        &_indent {
            margin-left: 0;
        }
        &__bread-crumbs {
            order: 2;
            margin-top: 37px;
            align-self: flex-start;
        }
    }
    .category-title {
        font-size: 30px;
        &_indent {
            margin-left: 0;
        }
    }
    .category-slider_indent {
        margin-bottom: 19px;
    }
    .product {
        &__filter {
            margin-bottom: 13px;
        }
        &__filter-text {
            font-size: 14px;
        }
        &__filter-icon {
            width: 31px;
            height: 32px;
            & img {
                width: 31px;
                height: 32px;
            }
        }
        &__sort {
            margin-bottom: 17px;
        }
        &__cards {
            justify-content: center;
            max-width: 500px;
            margin: 0 auto;
        }
    }
    .sort {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        &__type {
            display: flex;
            margin-bottom: 15px;
            & span {
                flex-shrink: 0;
                margin-right: 5px;
            }
            & a:nth-child(2) {
                position: relative;
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 3px;
                    right: -13px;
                    width: 0;
                    height: 0;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    border-top: 7px solid #0088B3;
                }
            }
            & a:nth-child(n+3) {
                display: none;
            }
        }
    }
    .card {
        &:nth-child(2n+2) {
            margin-left: 0;
        }
        &:nth-child(n+2) {
            margin-top: 30px;
        }
    }
    .description {
        font-size: 14px;
        margin-bottom: 56px;
    }
    .slider-block {
        margin-top: 58px;
        margin-bottom: 84px;
        background-image: url('../img/slider-bg_mobile.jpg');
    }
    .footer {
        display: flex;
        flex-direction: column;
        padding-bottom: 69px;
        &__wrapper {
            width: 280px;
            order: 1;
            padding: 0;
        }
        &__copyright-container {
            padding-bottom: 0;
        }
        &__copyright {
            display: none;
        }
        &__menu {
            justify-content: flex-start;
            margin-top: 62px;
            order: 1;
        }
        &__menu-list {
            flex-shrink: 0;
        }
        &__container {
            flex-direction: column;
            margin-top: 0;
        }
        &__timetable {
            padding-left: 40px;
            & p:nth-child(1)::before {
                top: -28px;
            }
        }
        &__tel {
            padding-left: 5px;
            &::before {
                left: -34px;
            }
        }
        &__logo {
            margin-left: 0;
        }
        &__address-container {
            display: none;
        }
        &__address {
            position: relative;
            left: -33px;
            margin-bottom: 16px;
            &_mobile {
                display: block;
            }
        }
        &__menu-item {
            &:nth-child(n+2) {
                margin-top: 8px;
            }
        }
        &__menu-link {
            font-size: 12px;
        }
        &__socials {
            margin-top: 29px;
            width: 100%;
            order: 3;
            &_mobile {
                display: flex;
                justify-content: center;
            }
        }
        &__socials-item {
            &:nth-child(n+4) {
                margin-top: 0;
            }
            &:nth-child(n+2) {
                margin-left: 18px;
            }
        }
        &__socials-link {
            width: 32px;
            height: 32px;
        }
    }
}