/* ! ------------------------fonts-------------------- */

@font-face {
    font-family: 'Museo Sans Cyrl 500';
    src: url('MuseoSansCyrl-500.woff2') format('woff2'), url('MuseoSansCyrl-500.woff') format('woff'), url('MuseoSansCyrl-500.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,regular,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora:italic,500italic&display=swap');

/* ! -------------------reset-styles------------------ */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}


/* ! ------------------------body-------------------- */

html,
body {
    min-width: 320px;
    height: 100%;
    font-weight: regular;
    font-style: normal;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

body.lock {
    overflow: hidden;
}

// ?===========================!!! for all devices !!!================================
.screen {
    width: 100vw;
    height: 100vh;
    min-height: 795px;
    background-color: rgb(94, 94, 94);
    background-image: url('../img/header-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    &__container {
        margin-top: 10.2%;
        font-family: 'Roboto', 'Arial', sans-serif;
        color: #fff;
        text-align: center;
    }
    &__title {
        text-transform: uppercase;
        font-size: 74px;
        font-weight: 900;
    }
    &__subtitle {
        position: relative;
        top: -3px;
        font-weight: 500;
        font-size: 44px;
    }
    &__button {
        position: relative;
        top: 0;
        margin-top: 3.3%;
        padding: 26px 79px 26px 79px;
        transition: all .2s ease;
        &:hover {
            top: -3px;
        }
        &:active {
            top: 0;
        }
    }
}

.button {
    display: inline-block;
    background: linear-gradient(to top, #148342, #21B25F);
    font-weight: 900;
    text-transform: uppercase;
    font-size: 18px;
}

.header {
    background: rgba($color: #323232, $alpha: 0.25);
    color: #fff;
    &__wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        max-width: 1205px;
        padding: 19px 15px 0 15px;
        margin: 0 auto;
    }
    &__container {
        display: flex;
        align-items: flex-end;
    }
    &__region {
        position: absolute;
        z-index: 1;
        top: 19px;
        left: 109px;
        font-family: 'Roboto', 'Arial', sans-serif;
        font-size: 14px;
        & span {
            color: #4DD0E1;
        }
    }
    &__city {
        margin-left: 2px;
        text-decoration: underline;
    }
    &__logo {
        margin-left: 6px;
        max-width: 276px;
        & img {
            width: 100%;
        }
    }
    &__search {
        margin-left: 25px;
        margin-bottom: 15px;
    }
    &__phone {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-left: 42px;
        padding-top: 7px;
        margin-bottom: 15px;
        &::before {
            content: '';
            position: absolute;
            top: 5px;
            left: 0;
            display: block;
            width: 36px;
            height: 36px;
            background-image: url('../svg/telephone.svg');
            background-repeat: no-repeat;
        }
    }
    &__tel-number {
        position: relative;
        top: 5px;
        font-family: 'Roboto', 'Arial', sans-serif;
        font-size: 24px;
        font-weight: 700;
        transition: all .3s ease;
        &:hover {
            color: #19944D;
        }
    }
    &__call {
        text-decoration: underline;
        color: #31C570;
        font-family: 'Lora', 'Times New Roman', Times, serif;
        font-size: 23px;
        font-weight: 500;
        font-style: italic;
        transition: all .3s ease;
        &:hover {
            transform: scale(1.05);
        }
    }
    &__menu {}
}

.search-container {
    &__info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    &__address {
        position: relative;
        padding-left: 23px;
        font-family: 'Lora', 'Times New Roman', Times, serif;
        font-size: 16px;
        font-weight: 500;
        font-style: italic;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 22px;
            height: 22px;
            background-image: url('../svg/mark.svg');
            background-repeat: no-repeat;
        }
    }
    &__time {
        position: relative;
        padding-left: 31px;
        font-family: 'Roboto', 'Arial', sans-serif;
        font-size: 14px;
        & span {
            font-weight: 500;
        }
        &::before {
            content: '';
            position: absolute;
            top: -3px;
            left: 0;
            display: block;
            width: 23px;
            height: 23px;
            background-image: url('../svg/clock.svg');
            background-repeat: no-repeat;
        }
    }
    &__e-mail {
        position: relative;
        padding-left: 27px;
        font-family: 'Roboto', 'Arial', sans-serif;
        font-size: 16px;
        transition: all .3s ease;
        &:hover {
            color: #19944D;
        }
        &::before {
            content: '';
            position: absolute;
            top: -2px;
            left: 0;
            display: block;
            width: 22px;
            height: 22px;
            background-image: url('../svg/mail.svg');
            background-repeat: no-repeat;
        }
    }
    &__icon {}
    &__search {
        position: relative;
    }
    &__input {
        padding: 0 66px 5px 33px;
        height: 35px;
        width: 570px;
        border: 2px solid #C4C4C4;
        border-radius: 15px;
        font-family: 'Lora', 'Times New Roman', Times, serif;
        font-size: 18px;
        font-weight: 500;
        font-style: italic;
        color: #4F5662;
        background: #C4C4C4;
        transition: all .3s ease;
        &:focus {
            border: 2px solid #19944D;
            border-radius: 15px;
            outline: none;
        }
    }
    &__button {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        height: 35px;
        padding: 0 23px;
        border-radius: 15px;
        background: #19944D;
        font-family: 'Roboto', 'Arial', sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: inherit;
        box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
        transition: all .3s ease;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.menu {
    padding: 8px 0;
    font-family: 'Roboto', 'Arial', sans-serif;
    background-color: rgba(25, 148, 77, 0.8);
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1205px;
        padding: 0 15px;
        margin: 0 auto;
    }
    &__list {
        display: flex;
        margin-left: 6px;
        font-size: 18px;
    }
    &__item {
        transition: all .1s ease;
        &:hover {
            transform: scale(1.1);
        }
        &:nth-child(n+2) {
            margin-left: 45px;
        }
    }
    &__link {}
    &__cart {}
}

.cart {
    display: flex;
    font-size: 14px;
    &__icon {
        margin-right: 14px;
    }
    &__img {}
    &__container {}
    &__count {
        & span {
            color: #FFBC64;
        }
    }
    &__summ {
        & span {
            color: #FFBC64;
        }
    }
}